*{
    box-sizing: border-box;
   
    padding: 0;
}
.container{
    height: 400px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
}
.input{
   width: 80px;
}

#Sumbit{
    height: 25px;
    width: 100px;
}

th{
    width: 100px;
    height: 25px;

    text-align: center;
}

table{
width: 800px;
    border: 1px solid black;

}
table tr,td {
    border: 2px solid blue;
}

tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
